@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

/* ===GLOBAL=== */
:root {
  --classic-blue: rgba(0, 127, 255, 1);
  --margin-article: 1rem;
  --blue-gradient: linear-gradient(
    90deg,
    rgba(0, 127, 255, 1) 0%,
    rgba(0, 191, 255, 1) 100%
  );
  font-size: 14.5px;
}

body {
  background: rgb(204, 204, 204);
  margin: 0.5rem !important;
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: underline;
}

page {
  background: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page[size="A4"] {
  width: 210mm !important;
  height: 296.9mm !important;
}

@media print {
  body,
  page {
    margin: 0 !important;
    box-shadow: none !important;
  }
}

.icon {
  height: 1.2rem;
  vertical-align: middle;
  font-weight: 400;
}

/* ===HEADER=== */

header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  padding: 0 5%;
  padding-bottom: 1rem;
}

/* ===HEADER SUMMARY=== */

#summary-box {
  width: 50%;
}

#summary-name {
  font-weight: 500;
  font-size: 3rem;
  color: var(--classic-blue);
}

#summary-description {
  font-size: 1.1rem;
}

/* ===HEADER CONTACT=== */

#contact-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-link {
  font-weight: 400 !important;
  line-height: 1.7;
  display: inline;
  vertical-align: middle;
  text-align: right;
  text-decoration: none;
}

/* ===MAIN=== */

main {
  margin-top: 1rem;
  display: flex;
  padding: 0 5%;
  flex-direction: column;
}

.article-box {
  margin-bottom: var(--margin-article);
}

.article-title-box {
  background: var(--blue-gradient);
  margin-right: calc(-210mm * 0.05);
  border-top-left-radius: 100000px;
  border-bottom-left-radius: 100000px;
  margin-left: -2.5%;
  padding: 0.3rem;
  padding-right: 5%;
  padding-left: 2.5%;
}

.article-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.article-list {
  list-style: none;
  padding: 0;
}

.article-list-item:not(:last-child) {
  margin-bottom: 1rem;
}

.descriptions {
  margin-top: 0.5rem;
  list-style: square;
}

/* ===MAIN EDUCATION=== */

.education-title {
  display: flex;
  flex-wrap: wrap;
}

.school-name {
  font-weight: 600;
}

.school-region {
  width: 100%;
  font-style: italic;
}

.school-begin {
  margin-left: auto;
}

/* ===MAIN PROJECT=== */

.project-title {
  vertical-align: middle;
  display: flex;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.project-summary {
  font-style: italic;
  margin-left: 2rem;
}

/* ===MAIN ACTIVITY & HONOR | SKILL=== */

.article-container {
  display: flex;
  justify-content: space-between;
}

.article-activities-skills {
  width: 48%;
}

/* ===MAIN HONOR=== */

/* ===MAIN SKILL=== */

.skill-title {
  vertical-align: middle;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
